body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 1.2rem;
	color: gray;
}
.contentBox {
	display: flex;
	flex-wrap: wrap;
}
.main {
   display: inline-flex;
   position: relative;
   width: 100%;
   height: 600px;
   border: 1px solid red;
   max-width: 380px;
}
.twats_A {
   position: absolute;
   top: 10%;
   width: 100%;
}
.twats_B {
   position: absolute;
   top: 10%;
   width: 100%;
}
.name {
	position: absolute;
	top: 2%;
	font-size: 1rem;
	color: #005A81;
}
.position {
	position: absolute;
	top: 40%;
	font-size: 1rem;
	}
.text1 {
	position: absolute;
	top: 50%;
	font-size: 1rem;
}
	.line {
	position: absolute;
	top: 73%;
	width: 100%;
	height: 10px;
}
.text2 {
	position: absolute;
	top: 75%;
	font-size: 1rem;
}
@media only screen and (min-width: 600px) {
	.main {
		width: 45%;
	}
}
@media only screen and (min-width: 900px) {
	.main {
		width: 24%;
	}
}