body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 1.2rem;
	color: gray;
}
.contentBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1200px;
}
.main {
   display: inline-flex;
   position: relative;
   width: 100%;
   height: 600px;
   max-width: 400px;
   margin-right: 5px;
   margin-bottom: 200px;
}
.twats {
   position: absolute;
   top: 10%;
   width: 100%;
}

.name {
	position: absolute;
	font-size: 1.5rem;
	color: #005A81;
	top: 1%;
}
.name p {
	margin-top: 0px;
	margin-bottom: 0px;
}
.position {
	position: absolute;
	top: 40%;
	font-size: 1rem;
	}
.text1 {
	position: absolute;
	top: 50%;
	font-size: 1rem;
}
.line {
	position: absolute;
	top: 73%;
	width: 100%;
	height: 10px;
}
.text2 {
	position: absolute;
	top: 75%;
	font-size: 1.2rem;
	color: #A0262A;
	font-weight: bold;
}
.buttonDiv {
	position: relative;
	width: 100%;
	top: 91%;
	max-width: 600px;
}
.next {
	position: absolute;
	width: 15%;
	left: 80%;
	}
.next:hover {
	width: 16%;
}
.home {
	position: absolute;
	width: 15%;
	left: 7%;
}
.home:hover {
	width: 16%;
}
.back {
	position: absolute;
	width: 15%;
	left: 40%;
}
.back:hover {
	width: 16%;
}
@media only screen and (min-width: 600px) {
	.main {
		width: 45%;
	    margin-bottom: 40px;
	}
	.name {
		font-size: 1.2rem;
	}
	#flynn .buttonDiv {
		display: none;
	}
	#papadop .home, .back {
		display: none;
	}
	#manafort .next, .back {
		display: none;
	}
	#gates .home {
		display: none;
	}
	.text2 {
		font-size: 1rem;
	}
}
@media only screen and (min-width: 900px) {
	.main {
		width: 24%;
	}
	.name {
		font-size: 1rem;
	}
	.position {
		top: 33%;
	}
	.text1 {
		top:44%;
	}
	.line {
		top: 70%;
	}
	.text2 {
		top: 72%;
	}
	.buttonDiv {
		display: none;
	}
}